
@{
    ViewBag.Title = "AddAvailability";
}

@model IEnumerable<Festispec.Domain.Schedule>

<h2>Beschikbaarheid toevoegen</h2>

<div class="container">
    <form id="addData">
        <div class="form-group">
            <label for="notAvailableFrom">Niet beschikbaar vanaf:</label>
            <input type="text" class="form-control" name="notAvailableFrom" placeholder="YYYY-MM-DD">
        </div>
        <div class="form-group">
            <label for="notAvailableTo">Niet beschikbaar tot:</label>
            <input type="text" class="form-control" name="notAvailableTo" placeholder="YYYY-MM-DD">
        </div>

            <input type="submit" class="btn btn-info" value="Toevoegen">
            <a href="#" class="btn btn-info" role="button">Ga Terug</a>
    </form>
</div>

}



