
@{
    ViewBag.Title = "AddAvailability";
}

@model Festispec.Domain.Schedule

<h2>Beschikbaarheid toevoegen</h2>

<div class="container">
    @using (Html.BeginForm("Create", "Schedule"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.NotAvailableFrom)
            @Html.EditorFor(m => m.NotAvailableFrom)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NotAvailableTo)
            @Html.EditorFor(m => m.NotAvailableTo)
        </div>

            <input type="submit" class="btn btn-info" value="Toevoegen">
            <a href="InspectorSchedule" class="btn btn-info" role="button">Ga Terug</a>
    }
</div>

}



